@model DotnetPracticalTask.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<form method="post" asp-action="Delete">
    <div class="border p-3 mt-4">
        <input asp-for="CategoryId" hidden />
        <div class="row pb-2">
            <h2> Delete Category </h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Name"> Name </label>
            <input asp-for="Name" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Description"> Description </label>
            <input asp-for="Description" disabled class="form-control" />
        </div>

        <div class="form-group form-check mb-3">
            <label class="form-check-label">
                <input asp-for="IsActive" disabled class="form-check-input" /> @Html.DisplayNameFor(model=>model.IsActive)
            </label>
        </div>
        <button type="submit" style="150px" class="btn btn-primary" asp-route-id="@Model.CategoryId"> Delete </button>
        <a class="btn btn-primary" asp-controller="Categories" asp-action="Index"> Back to list </a>
    </div>
</form>
